body
  display: flex
  flex-direction: column
  align-items: center

section 
  width: 100%
  display: flex
  flex-direction: column
  .container
    display: flex
    // flex-direction: column
    align-self: center
    align-items: center
    margin-bottom: 4em
    margin-top: 4em
    max-width: 1300px

h2
  padding-bottom: .8em