html, .root 
  font-size: 18px
  line-height: 23px

h1, h2, h3 
  font-family: 'Rubik', sans-serif

body 
  font-family: 'Karla', sans-serif
  font-size: 1rem
  line-height: 1.2777778rem

h1 
  font-size: 3rem
  line-height: 5.1111111rem
  margin-top: 1.2777778rem
  margin-bottom: 2.5555556rem

h2 
  font-size: 2.6111111rem
  line-height: 3.8333333rem
  margin-top: 1.2777778rem
  margin-bottom: 1.2777778rem
  align-self: flex-start

h3 
  font-size: 1.6111111rem
  line-height: 2.5555556rem
  margin-top: 1.2777778rem
  margin-bottom: 0rem

p
  line-height: 2rem

.hero-text
    line-height: 2rem